.img-preview {
    width: 256px;
    height: 256px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;    
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: #34495E;
    color: #39D2B4;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    color: white;
  }
nav {
  float: left;
  width: 30%;
  /*   height: 300px; only for demonstration, should be removed */
  min-height : 800px;
  background: #ccc;
  padding: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    min-height : 800px;
    margin: 0 auto;
     /* height: 300px; only for demonstration, should be removed */
  }
  
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }
/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }  

  h3 {
    text-align: center;
    padding-top: 40px;

  }

  .row{
    margin: 0 auto;
  }
@media (max-width: 1000px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}